:root{
--cor-de-fundo:#1E1E1E;
--verde:#6FFF57;
--branco:#FFFFFF;
--botao-ativo:rgba(58,55,94,0.5);
--texto-fundo:rgba(58,55,94,0.3);
}

body{
background-color:var(--cor-de-fundo);
color:var(--branco);
font-family: "sedan",serif;

}

.conteudo-principal{
 display:flex;
 flex-direction:column;
 justify-content:center;
 max-width:1200px;
 width:100%;
 margin:0 auto;
 
}

.titulo-principal span{
    text-align: left;
    windth: 100%;
    font-size: 32px;
    color:var(--verde)
}
.botao{
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
}